.navbar{
    width: 99%;
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 35px;
    height: 35px;
}